@font-face {
  font-family: 'Briz';
  src: url(/fonts/Briz.otf) format("opentype");
}

:root {
    /* || PRIMITIVES */
    --color_000:    #ffffff;
    --color_005:    #f2f2f2;
    --color_010:    #E5E5E5;
    --color_020:    #CCCCCC;
    --color_030:    #B2B2B2;
    --color_040:    #999999;
    --color_050:    #808080;
    --color_060:    #666666;
    --color_070:    #4D4D4D;
    --color_080:    #333333;
    --color_090:    #1A1A1A;
    --color_100:    #000000;

    --color_sage:  #C3D1C6;
    --color_brown: #592D2E;
    --color_yellow:#F9F27F;


    --spacing_0:    0;
    --spacing_xs:   0.25rem;
    --spacing_s:    0.5rem;
    --spacing_m:    1rem;
    --spacing_l:    2rem;
    --spacing_xl:   4rem;

    --radius_s:     0.5rem;
    --radius_m:     1rem;
    --radius_l:     50%;

    --font-size_s:  0.8rem;
    --font-size_m:  1rem;
    --font-size_l:  1.5rem;
    --font-size_xl: 2rem;

    --font_primary:         'IBM Plex Mono', monospace;
    --font_secondary:       'Briz', times new roman, serif;

    --font-weight_regular:  normal;
    --font-weight_bold:     bold;

    --line-height_normal:   1.2;

    /* || SEMANTIC */
    --color_background_primary:     var(--color_000);
    --color_background_secondary:   var(--color_yellow);
    --color_background_tertiary:    var(--color_brown);
    --color_text_normal:            var(--color_brown);
    --color_text_muted:             var(--color_000);
    --color_text_hover: ;
    --color_border_normal:          var(--color_brown);
    --color_border_muted:           var(--color_sage);
    --color_shadow:                 var(--color_sage);

    --spacing_outer-margin:         0 var(--spacing_m);
    --spacing_section-margin:       var(--spacing_s) 0;
    --spacing_inner-padding:        var(--spacing_s);
    --spacing_button-padding:       var(--spacing_xs) var(--spacing_s);

    --main-height:                  calc(100vh - 21rem);

    --font-size_title:              var(--font-size_xl);
    --font-size_body:               var(--font-size_m);
    --font-size_button:             var(--font-size_s);

    --border_normal:                1px solid var(--color_border_normal);
    --border_muted:                 1px solid var(--color_border_muted);

    /* || COMPONENT-SPECIFIC */
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

html {
    font-size: 16px;
}
@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

body {
    background-color: var(--color_background_primary);
    color: var(--color_text_normal);
    font-family: var(--font_primary);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: none;
}


.site-container {
    margin: var(--spacing_outer-margin);
}

.header {
    margin: var(--spacing_section-margin);
    display: flex;
    justify-content: space-between;
}
.site-title {
    white-space: nowrap;
}
.header__nav {
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing_s);
}

.main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: var(--main-height);
}

.footer {
   /* margin: var(--spacing_section-margin);  */
   position: fixed;
   bottom: var(--spacing_m);
   width: calc(100vw - var(--spacing_l));
}


.section {
    margin: var(--spacing_section-margin);
}

.button {
    border: var(--border_muted);
    border-radius: var(--radius_m);
    background-color: var(--color_background_primary);
    color: var(--color_text_normal);
    font-family: inherit;
    font-size: var(--font-size_button);
    text-decoration: none;
    padding: var(--spacing_button-padding);
    cursor: pointer;
}

#toggleViewBtn {
    display: none;
}

.button-day:hover {
    background-color: var(--color_background_secondary);
}

.stream {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - var(--spacing_xl));
    max-width: calc(var(--main-height) * 2);
    min-width: 300px;
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
}
.stream__channel {
    position: relative;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing_inner-padding);
    border-radius: var(--radius_l);
    box-shadow: 0 0 0.5rem 0.5rem var(--color_background_primary);
    aspect-ratio: 1 / 1;
}

.stream__background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--color_background_secondary);
    box-shadow: inset 0 0 0.5rem 0.5rem var(--color_background_primary);
    border-radius: var(--radius_l);
    filter: blur(5px);
    transition: filter 0.5s ease;
    z-index: 0;
}

.stream__channel.clear .stream__background {
  filter: blur(0);
  box-shadow: none;
}

.stream__channel:hover .stream__background {
  filter: blur(0);
  box-shadow: none;
}

.stream__name {
    position: absolute;
    bottom: -3rem;
    text-align: center;
    font-size: var(--font-size_s);
}

@media (orientation: portrait) and (max-width: 900px) {
    .stream {
        max-width: calc(var(--main-height) * 0.8);
    }
    .stream__channel {
        grid-column: span 6;
    }
    .stream__channel--mid {
        order: -1;
        grid-column: 4 / span 6;
    }
    .stream__channel--mid .stream__name{
        top: -3rem;
    }
}


/* || TIMELINE */

@media (max-width: 767px) {
  #toggleViewBtn {
    display: none;
  }
}
.timeline {
    position: relative;
    width: 100%;
    height: 6rem;
    overflow-x: auto;
    margin-top: var(--spacing_s);
}

.timeline--week .timeline__track {
    width: 100%;
}

.timeline--day .timeline__track {
    display: flex;
    width: 100%;
}

.timeline__track {
    position: relative;
    height: 100%;
}

.timeline--day .timeline__day-cell {
    flex: 0 0 calc(100% / 7);
    scroll-snap-align: start;
    position: relative;
}

.timeline__date-marker {
    position: absolute;
    bottom: 0;
    font-size: var(--font-size_s);
    width: auto;
    border-left: var(--border_normal);
    height: 1rem;
    padding: var(--spacing_xs) var(--spacing_s);
}

.timeline__event {
    position: absolute;
    height: 1rem;
    background-color: var(--color_background_primary);
    border: var(--border_normal);
    border-radius: var(--radius_m);
    padding: 0 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.timeline__event:hover {
    background-color: var(--color_background_secondary);
}

.timeline__playbar {
    position: absolute;
    bottom: 1.5rem;
    height: 100%;
    background-color: var(--color_background_secondary);
    border-right: red solid 1px;
    pointer-events: none;
    z-index: -1;
}

.timeline__line {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--color_background_tertiary);
}

/* || DRAGGABLE */

.draggable {
    position: absolute;
    cursor: move;
    z-index: 999;
}
.draggable__content {
    width: 400px;
    height: 500px;
    max-width: calc(100vw - var(--spacing_xl));
    max-height: calc(100vh - var(--spacing_xl));
}
.draggable__toggleBtn {
    position: absolute;
    top: var(--spacing_m);
    right: var(--spacing_m);
}

@media (max-width: 900px) {
    .draggable {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* || SCHEDULE */
.schedule {

}

.schedule.hidden {
    display: none;
}

.schedule__list {
    list-style: none;
    margin: 0;
    overflow-y: auto;
    background:  var(--color_background_tertiary);
    color: var(--color_text_muted);
    border-radius: var(--radius_m);
    padding: var(--spacing_inner-padding);
}

.schedule__item {
    margin: 5px 0;
    padding: 8px;
    border-bottom: 1px solid var(--color_border_muted);
    /* min-height: 500px; */
}

.active strong {
    text-decoration: underline;
}

.schedule-content img {
  border-radius: 4px;
  margin-top: 6px;
}

/* || CHAT */
.chat {

}

.chat.hidden {
    display: none;
}

.chat__embed {
    list-style: none;
    margin: 0;
    width: 400px;
    height: 500px;
    overflow-y: auto;
    background: white;
    border-radius: var(--radius_m);
    padding: var(--spacing_inner-padding);
}


/* || ANNOUNCEMENT TICKER */
.announcements {
    border: var(--border_muted);
    border-radius: var(--radius_m);
    margin-top: var(--spacing_m);
    background-color: var(--color_background_primary);
    box-shadow: 0 0 1rem var(--color_shadow);
    font-size: var(--font-size_s);
}
.announcements__marquee {
    padding: var(--spacing_s);
}


/* || TXT */
.site-title {
    font-family: var(--font_primary);
    color: var(--color_text_normal);
    /* text-transform: uppercase; */
    font-size: var(--font-size_title);
    text-decoration: none;
}


/* || AUDIO */
.audio {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.audio__ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.audio__playBtn {
    cursor: pointer;
    background: none;
    color: var(--color_brown);
    border: var(--border_normal);
    border-radius: var(--radius_m);
    background-color: var(--color_background_secondary);
    display: block;
}

.audio__playBtn:hover {
    background-color: var(--color_background_secondary);
}

.audio__volumeSlider {
    position: absolute;
    bottom: -4rem;
    width: 100px;
    margin-top: var(--spacing_s);
    cursor: pointer;
    -webkit-appearance: none;
    height: 0.5rem;
    border-radius: var(--radius_m);
    background-color: var(--color_background_tertiary);
    outline: none;
    transition: background 0.3s;
    display: block;
}
@media (max-width: 900px) {
  .audio__volumeSlider {
    display: none;
}
}
@media (max-width: 900px) {
  .stream__channel--mid .audio__volumeSlider {
    top: -3rem;
}
}

/* Track */
.audio__volumeSlider::-webkit-slider-runnable-track,
.audio__volumeSlider::-moz-range-track {
  height: 0.5rem;
  background-color: var(--color_background_tertiary);
  border-radius: var(--radius_m);
}

/* Thumb */
.audio__volumeSlider::-webkit-slider-thumb,
.audio__volumeSlider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--color_background_primary);
  border: var(--border_normal);
  cursor: pointer;
  border-radius: var(--radius_l);
  margin-top: var(--spacing_s); /* center thumb */
}

.audio__volumeSlider::-webkit-slider-thumb:hover,
.audio__volumeSlider::-moz-range-thumb:hover {
  background: var(--color_background_secondary);
}

/* .audio__volumeSlider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background-color: var(--color_sage);
  border: var(--border_normal);
  cursor: pointer;
  border-radius: 50%;
  margin-top: var(--spacing_s);
  transition: background 0.3s;
} */


